/* polls */
#wrapper {
  width: 100%;
}

#wrapper p {
  padding: 1em 0;
}

#wrapper ul {
  margin-bottom: 20px;
}

#wrapper #poll-container li {
  display: grid;
  grid-template-columns: [s] 2fr [m] 1fr [e];
  grid-template-rows: [t] 1fr [b] 1fr [e];

  margin: 0.5em auto;
  padding: 0.5em 1em;
  width: calc(100vw - 40px);
  border: 0.5vw solid var(--blue);
  border-radius: 8px;
}

#wrapper .title {
  text-align: left;
  grid-column: s/m;
  grid-row: t/b;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

#wrapper .date {
  grid-column: s/m;
  grid-row: b/e;
  text-align: left;
  text-transform: lowercase;
  color: white;
  font-size: 14px;
}

#wrapper .vote-btn {
  grid-column: m/e;
  grid-row: 1/-1;
  justify-self: start;
  align-self: center;
  padding: 0.5em 1.2em;
  height: 35px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#wrapper .delete-btn {
  grid-row: 1/-1;
  grid-column: m/e;
  align-self: center;
  padding: 0.5em 1.2em;
  height: 35px;
  justify-self: end;
  background-color: var(--disabled);
  color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#wrapper #create {
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0.3em 0.7em;
  width: 300px;
  height: 40px;
  background-color: var(--blue);
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
