@font-face {
  font-family: "Source Code Pro";
  src: url("https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7PqtlsnDs-cq.woff2");
}
:root {
  --rapgod-fontface: "Source Code Pro";
  --gradient: linear-gradient(90deg, red, yellow, green, blue, violet);
  --monochrome-gradient: repeating-linear-gradient(
    60deg,
    #a42963,
    #a42963 10px,
    #f063a4 10px,
    #f063a4 20px
  );
  --no-gradient: black;
  --progressbar-color: white;
  --disabled: rgb(189, 65, 65);
  --enabled: rgb(52, 168, 91);
  --blue: #59edf3;
}

/* resets browser default styling */
*,
::after,
::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main */
html,
body {
  background-color: #060f0d;
  color: #ffffff;
}

body {
  font-family: 'Source Code Pro';
  width: 100vw;
  height: 100vh;
}

main {
  text-align: center;
  width: 100%;
}

h1,
h2,
button,
.question,
#total-votes,
#create {
  font-family: 'Source Code Pro';
}

h1 {
  margin-bottom: 1.5em;
  background-color: var(--blue);
  padding: 2vw;
  color: black;
  font-weight: 100;
  font-size: 20px;
}

h2 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0px;
  }

  h1,
  h2 {
    font-size: 20px;
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 330px) {
  h1 {
    font-size: 16px;
    color: red;
  }
}
